<header class="pt-3">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div class="d-flex justify-content-end">
        <ul class="nav nav-pills">
          <li class="nav-item pe-5">
            <a href="{{ url_for('get_weather') }}" class="nav-link">
              Получить погоду
            </a>
          </li>
          {% if current_user.is_anonymous %}
            <li class="nav-item pe-5">
              <a href="{{ url_for('register') }}" class="nav-link">
                Зарегистрироваться
              </a>
            </li>
            <li class="nav-item pe-5">
              <a href="{{ url_for('login') }}" class="nav-link">
                Войти
              </a>
            </li>
          {% else %}
          <li class="nav-item pe-5">
            <a href="{{ url_for('logout') }}" class="nav-link">
              Выйти
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>